<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>Document</title>
</head>
<body>
    <hr>
    <form id="clickbait-form">
        <input type="text" name="headline" id="headline"><br><br>
        <button type="submit">Check it!!</button>
    </form>
    <hr>
    <input type="text" name="result" id="result" readonly>
</body>
</html>