<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>Document</title>
</head>
<body>
    <hr>    
    <h1>ClickBait Model</h1>
    {% for message in form.title.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <form method="POST">
        {{ form.title.label }}
        {{ form.title }}
        <br>
        {{ form.submit }}
    </form>
    <hr>
</body>
</html>