<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>

    <h1>Fake News Predictor</h1>
    {% for message in form.title.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% for message in form.articletext.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <form method="POST">

        {{ form.title.label }}
        {{ form.title }}
        <br>
        {{ form.articletext.label }}
        {{ form.articletext }}
  
        {{ form.submit }}
      </form>   
</body>
</html>